@model GenerateApp.Controllers.InfoData

@{
    ViewData["Title"] = "Info";
    var nrRows = Model.logs.Count;
    var progress = Model.InProgress();

}

<h1>Info @Model.name  @(progress?"In progress":"Result :"+Model.result)  </h1>


<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pathFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pathFile)
        </dd>
    </dl>
    @if (!progress && Model.result.Value)
    {
        <h2>Your Application :</h2>
        @foreach (var download in Model.Releases)
        {
            <a href="@download.Key">@download.Value</a>
        }

    }
    @if (progress || !Model.result.Value)
    {
        <h4>Generating your application will take max 10 minutes - please wait </h4>
        <h4>Logs  - internal use</h4>
        <hr />
        <dl class="row">
            @for (var i = nrRows - 1; i >= 0; i--)
            {
                <dt class="col-sm-2">
                    Log @(i + 1) for @Model.name
                </dt>
                <dd class="col-sm-10">
                    @Model.logs[i]
                </dd>

            }
        </dl>
    }
</div>
@section scripts {
    <script type="text/javascript">
        @if (progress)
        {

            <text>
        window.setTimeout(function () {


            window.location = window.location;
        }, 5000)
            </text>

        }


    </script>
}
